{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<main class="container">
      
  <form method="post" class="form-card">
    {% csrf_token %}
    <input
      class="form-card-title"
      type="text"
      name="titulo"
      placeholder="Título"
    />
    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    ></textarea>
    <textarea
      class="autoresize"
      name="tag"
      placeholder="Digite a tag..."
    ></textarea>
    
    <button class="btn" type="submit">Criar</button>
  </form>

  <!-- The Modal -->
  <div class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form method="post" class="form-card-modal" action="/update">
        {% csrf_token %}
        <input
          class="modal-title"
          type="text"
          name="titulo"
          placeholder="Título para atualizar"
        />
        <textarea
          class="modal-autoresize"
          name="detalhes"
          placeholder="Digite o conteúdo para atualizar"
        ></textarea>
        <button name="update" class="btn" type="submit" value="">Atualizar Card</button>
      </form>

      <form method="post" class="delete-form" action="/delete">
        {% csrf_token %}
        <button name="delete" class="btn" style="background-color: tomato;" type="submit" value="">Deletar Card</button>  
      </form>
    
    </div>

  </div>

  <div class="card-container">
    
    {% block noteList %} {% endblock %}

  </div>

</main>

{% endblock %}
